<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Vue.js App made by John Henry Joromat">
    <title>Vue JS Todo App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    
    <!-- vue app -->
    <div class="container">
        <!-- static design -->
        <div id="app">
            <h1>My Todo List</h1>
            <div class="card">
                <div class="flex">
                    <input v-model="newItem" placeholder="Add new Todo">
                    <button @click="addItem" :disabled="newItem.length === 0">Add</button>
                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <h2>Todo</h2>
                    <ul class="list">
                        <li class="list-item" :class="{completed: item.completed}" v-for="item in items">
                            <div class="list-item-toggle" @click="toggleComplete(item)"></div>
                            <span> {{ item.name }} </span>
                            <div class="list-item-delete" @click="removeItem(item.id)">X</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>